.img-mask {
  display: flex;
  justify-content: center;
  background-color: rgba(0,0,0,0.3);
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  user-select: none;
}

.masking-noscroll {
  overflow: hidden;
}

