.camera {
  .controls {
    background-color: rgba(250,250,250,1);
    border-radius: 1rem 1rem 0 0;
    position: fixed;
    z-index: 2500;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    .header {
      display: flex;
      align-items: center;

      .title {
        margin-left: 1rem;
      }

      .close {
        margin-left: auto;

        &-btn {
          padding: 1px;
          margin-bottom: 0.5rem;
          margin-right: 0.5rem;
          margin-top: 0.5rem;
          border-radius: 2px;
          background-color: white;
          border: 1px solid gray;
        }
      }
    }

    .matrix {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;

      input {
        width: 100px;
      }
    }

    .matrix-row {
      input {
        width: 100px;
      }
    }
  }

  .transformable {
    .point {
      pointer-events: none;
      user-select: none;
      position: absolute;
      color: red;
      line-height: 0;
      font-weight: bold;
    }

    background:rgba(0,0,0,0.05);
    box-shadow: 0 0 8px rgba(0,0,0,0.05);
    position:absolute;
    top:50%;
    left:50%;
    transition: transform 100ms;
    user-select: none;
  }
  .transformable h2 {
    margin-top:0;
  }
  .ghost {
    opacity: 0.1;

    .title {
      position: absolute;
      pointer-events: none;
      user-select: none;
    }
  }
  .lesson-title {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0.7em;
    font-family: sans-serif;
    font-size: 1em;
    color: #888;
    font-weight: normal;
  }
  .lesson-title a {
    text-decoration: none;
    color: #668;
  }
  .lesson-title a:hover {
    color: #338;
  }
}
